<!DOCTYPE html>
<html>
  <head>
  	<meta name="renderer" content="webkit">
  	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  	<header>
  		<h1><%= title %></h1>
  		<ul class="type" id="type">
  			<li data-type="dot">Dot</li>
  			<li data-type="column" class="selected">Column</li>
  		</ul>
  		<p>
  			Volume <input id="volume" type="range" min="0" max="100" value="60">
  		</p>
  	</header>
	<div class="left">
		<ul id="list">
			<% music.forEach(function(name){ %>
				<li title="<%= name %>"><%= name %></li>
			<% })%>
		</ul>
	</div>
	<div class="right" id="box"></div>
	<script type="text/javascript" src="/javascripts/MusicVisualizer.js"></script>
	<script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>
