*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,
body{
	height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #000;
  color: #fff;
  text-align: center;
}
header,.left,.right{
	position: absolute;
}
header{
	left: 10px;
	top: 10px;
	right: 10px;
	height: 150px;
}
header h1{
	font-size: 40px;
	height: 60px;
	line-height: 60px;
}
.left{
	left: 10px;
	top: 170px;
	bottom: 10px;
	width: 15%;
	border: 1px solid #fff;
	overflow: auto;
}
.left ul li{
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.left ul li.selected{
	color: green;
}
.right{
	top: 170px;
	right: 10px;
	bottom: 10px;
	left: calc(15% + 20px);
	left: -webkit-calc(15% + 20px);
}

a {
  color: #00B7FF;
}

/* 选择哪种展现方式 */
header .type {
	display: inline-block;
	margin: 0 auto;
	list-style-type: none
}

header .type li {
	float: left;
	height: 30px;
	line-height: 30px;
	width: 80px;
	border-top: solid 1px #fff;
	border-right: solid 1px #fff;
	border-bottom: solid 1px #fff;
	cursor: pointer
}

header .type li.selected {
	background: #fff;
	color: #000
}
header .type li:first-child {
	border-left: solid 1px #fff;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px
}

header .type li:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px
}

/* 播放样式 */
input[type="range"]{
	-webkit-appearance: none;
	height: 8px;
	background: #999;
	border-radius: 10px;
	outline: none;
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 12px;
	width: 12px;
	border-radius: 100%;
	background: #fff;
}
input[type="range"]::-moz-range-track{
	-webkit-appearance: none;
	height: 8px;
	background: #999;
	border-radius: 10px;
	outline: none;
}
input[type="range"]::-moz-range-thumb{
	height: 12px;
	width: 12px;
	border-radius: 100%;
	background: #fff;
	border: none;
}
@media screen and (max-width: 800px),screen and (max-height: 500px){
	body{
		font-size: 12px;
	}
	header{
		height: 80px;
	}
	header h1{
		font-size: 24px;
		height: 34px;
		line-height: 34px;
	}
	header .type li {
		height: 16px;
		line-height: 16px;
		width: 50px;
	}
	.left,.rigth{
		top: 100px;
	}
}